<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <mark>使用 mustache 写法来声明式渲染页面内容</mark>
        <div>{{message}}</div>              <!-- 声明式渲染 -->
        <br><hr>

        <mark v-bind:id="message">使用 v-bind 进行数据绑定，简写 v-bind:id="example" -> :id="example"</mark>     <!-- V-BIND 数据绑定 -->
        <div :id="message"></div>           <!-- V-BIND 简写 -->
        <br><hr>

        <mark>v-if 与 v-show 控制内容是否渲染，但 v-show 一定会生成 DOM ，只是将其设置为 display: none 。尝试在控制台输入 vm.item.del = true ，观察按钮 DOM 变化</mark>
        <ul>
            <li>
                <span v-if="!item.del"> {{item.title}} </span>      <!-- V-IF 条件渲染 -->
                <span v-else style="text-decoration: line-through;"> {{item.title}} </span>
                <button v-show="!item.del">Delete</button>          <!-- V-SHOW 约同V-IF，一定生成DOM，选择性DISPLAY -->
            </li>
        </ul>
        <br><hr>

        <mark>使用 v-for 来遍历数据</mark>
        <ul>
            <li v-for="item in items">
                <span v-if="!item.del"> {{item.title}} </span>
                <span v-else style="text-decoration: line-through;"> {{item.title}} </span>
                <button v-show="!item.del">Delete</button>
            </li>
        </ul>
        <br><hr>

        <mark>使用 Vue.component 注册组件</mark>
        <ul>
            <todo-item v-for="item in items" v-bind:key="item.title" :title="item.title" :del="item.del"></todo-item>
        </ul>
        <br><hr>

        <mark>组件可以嵌套</mark>
        <todo-list></todo-list>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        Vue.component('todo-item', {
            props: {
                title: String,
                del: {
                    type: Boolean,
                    default: false
                }
            },
            template: `
                <li>
                    <span v-if="!del"> {{title}} </span>
                    <span v-else style="text-decoration: line-through;"> {{title}} </span>
                    <button v-show="!del">Delete</button>
                </li>
            `,
            data: function () {
                return {}
            },
            methods: {

            }
        })
        
        Vue.component('todo-list', {
            template: `
                <ul>
                    <todo-item v-for="item in items" v-bind:key="item.title" :title="item.title" :del="item.del"></todo-item>
                </ul>
            `,
            data: function() {
                return {
                    items: [{
                        title: 'Course 1',
                        del: true
                    }, {
                        title: 'Course 2',
                        del: false
                    }]
                }
            }
        })

        var vm = new Vue({
            el: '#app',
            data: {
                message: 'Hello World!',
                item: {
                    title: 'Course 1',
                    del: false
                },
                items: [{
                    title: 'Course 1',
                    del: true
                }, {
                    title: 'Course 2',
                    del: false
                }]
            }
        })
    </script>
</body>
</html>